<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email</title>
</head>
<body>
    <h2>Sehr geehrter Herr/Frau %NAME%,</h2>
    <p>wir würden gerne mit Ihnen in Kontakt bleiben, sind uns aber nicht sicher, ob dies von Ihrer Seite auch gewünscht ist und ob wir Ihre Kontaktdaten entsprechend weiterhin nutzen dürfen.</p>
    <p>Wenn Sie uns dies erlauben klicken Sie bitte auf den folgenden Link:</p>
    <a href="http://application.networker.info/mailservice.php?%GETSTRINGSTAY%">Ja, ich möchte in Verbindung bleiben</a>
    <p>Wenn Sie dies nicht möchten können Sie über den folgenden Link eine Löschung aus unserer Datenbank beantragen:</p>
    <a href="http://application.networker.info/mailservice.php?%GETSTRINGDELETE%">Bitte löschen Sie mich</a>
    <p><strong>Ihre Firma TollesWeb</strong></p>
    <p>Musterstraße 1a</p>
    <p>12345 Neustadt</p>
</body>
</html>